/**
*
* General
*
**/

html {
    height: 100%;
    font-size: 62.5%;
}

body {
	background: #ffffff;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1.67;
    height: 100%;
    display: block;
    color: #333333;
    -webkit-text-size-adjust: 100%;
}

.active {
	color: red;
    right: 0px;
	text-transform: uppercase;
}

